body{
    background-image: url('img/back.jpg');
    background-size: cover;
    padding:0;
    margin:0;
}

#jogo {
	margin: auto;
	width: 45%;
	padding: 10px;
	background-color:rgba(108, 247, 114);
}

.casa {
	border: 3px solid;
	width: 200px;
	height: 200px;
	float: left;
	background-size: cover;
	margin: 1px;
	border-color: rgb(235, 255, 53);
}

#vencedor{
	text-align: center;
}